Project Members:                                                  
- Daniel Arday
- Albert Chen

Date:

# Introduction

The UCI Bank Marketing dataset (https://archive.ics.uci.edu/dataset/222/bank+marketing) is a collection of anonymized marketing data based phone calls initiated from a Portuguese banking institution. Multiple contacts to the same client was often required to access if a client would subscribe to a bank term deposit (SÃ©rgio Moro, P. Cortez, P. Rita. 2014).


### Objective

**Our classification goal with this dataset is to predict if banking clients will subscribe to a term deposit.**

### Data Description/Attribuite Information
   1. `age`: age demographic
   2. `job`: employment type
   3. `martial`: martial status
   4. `education`: categorical education status
   5. `default`: credit default
   6. `balance`: average yearly balance
   7. `housing`: housing loan status
   8. `loan`: personal loan status
   9. `contact`: contact communication type
   10. `day`: last contact day of the week
   11. `month`: last contact month
   12. `duration`: last contact duration in seconds
   13. `campaign`: number of repeated contacts with client
   14. `pdays`: number of days that passed by after the client was last contacted from a previous campaign (-1 not previously contacted)
   15. `previous`: 	number of contacts performed before this campaign and for this client
   16. `poutcome`: outcome of the previous marketing campaign
   17. `y`: is client subscribed to term deposit

### Loading libraries and data

In [3]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('data/bank-full.csv', sep=';')

In [4]:
data.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

### Data Preparation

### One Hot Encoding

### Classification

We will be using 6 different types classification methods:

- BaggingClassifier
- Random Forest
- Gradient Boost
- Adaboost
- XGBoost
- DecisionTree

### BaggingClassifier

### Conclusions