Project Members:                                                  
- Daniel Arday
- Albert Chen

Date:

# Introduction

The UCI Bank Marketing dataset (https://archive.ics.uci.edu/dataset/222/bank+marketing) is a collection of anonymized marketing data based phone calls initiated from a Portuguese banking institution. (SÃ©rgio Moro, P. Cortez, P. Rita. 2014). In this article, the authors determined the estimated relative performance values utilizing a linear regression method. Refer to pages 308-313 of their publication for a detailed explanation of how the relative performance values were established (https://archive.ics.uci.edu/dataset/29/computer+hardware, 2023).


### Objective

**Our classification goal with this dataset is to predict if banking clients will subscribe to a term deposit.**

### Data Description/Attribuite Information
   1. `age`: age number
   2. `job`: employment status or position
   3. `martial`: martial status
   4. `education`: education status
   5. `MMAX`: maximum main memory in kilobytes (integer)
   6. `CACH`: cache memory in kilobytes (integer)
   7. `CHMIN`: minimum channels in units (integer)
   8. `CHMAX`: maximum channels in units (integer)
   9. `PRP`: published relative performance (integer)
   10. `ERP`: estimated relative performance from the original article (integer)

### Loading libraries and data

In [1]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('data/bank.csv', sep=';')

In [2]:
data.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

### Data Preparation